<h1 class="title">User Ranking</h1>
<p class="byline"><small>  </small></p>

   
<div class="entry">
 <p> 
<table>
  <tr>
    <th>Name</th>
    <th>Punkte</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td> <% if !user.tippgemeinschafts.first.tipps.nil? %>
          <% y = 0 %>
          <% user.tippgemeinschafts.first.tipps.each do |tipp| %>
            <% y +=  tipp.punkte.to_i%>
          <%end%>
          <%= y %>
         <%end%></td>
   </tr>
<% end %>
</table>

<br />
<%= link_to 'Back', user_path(current_user) %>

</p>
</div>
