
<h1 class="title">About us</h1>
<p class="byline"><small>  </small></p> 
<div class="entry">
 <p> 
Bobuli is a web-application, that allows users to bet on the german Bundesliga via
Web-Browsers. Furthermore, the web-application offers a REST-Api in combination with XML 
which makes it possible to connect to Bobuli with any application.
</p>
</div>
