<h1 class="title"><%= current_user.name %>'s Home </h1>
<p class="byline"><small>  </small></p>

   
<div class="entry">
 <p> 

Hier müsste wohl auch noch was kommen.
<%= link_to 'Back', tipps_path %>
</p>
</div>
